.modal-dialog {
    width: 700px;
}
#comment_history_list{
    max-height: 250px;
    overflow-y: auto;

}
.img-responsive {
    margin: 0 auto;
}
.bg-white{
    background-color: #ffffff;
}

.spin-green{
    color: green;
    font-size: 15px;
}
.notify-read{
    background-color: #ecf0f5 !important;
}
.notify-read:hover{
    background-color: #ecf0f5 !important;
}
.notify-non-read{
    background-color: #ffffff !important;
}
.notify-non-read:hover{
    background-color: #ffffff !important;
}
.notify-none{
    background-color: green;
}
.notify-none:hover{
    background-color: green;
}
#notification_container{
    max-height: 300px;
}
.slii_logo{
    max-width: 60px;
    max-height: 60px;
}

.slider-imgs{
    max-width: 300px;
    max-height: 120px;
    min-height: 120px;
    min-width: 300px;
}

.img-slider-frame{
    border: 1px solid #c5c5c5;
    padding:10px;
    float: left;
    margin: 10px;
    background: radial-gradient(circle, #ffffff, #d6d6da, #0d3a54);
    box-shadow: 1px 0px 2px 2px;
}

.img-gallery-frame{
    border: 1px solid #c5c5c5;
    padding:10px;
    float: left;
    margin: 8px;
    background: radial-gradient(circle, #ffffff, #d6d6da, #0d3a54);
    box-shadow: 1px 0px 2px 2px;
}

.gallery-imgs{
    max-width: 173px;
    max-height: 50px;
    min-height: 100px;
    min-width: 173px;
}

.add-member-form-front{
    padding:50px !important;
    margin: 12px !important;
}

.compulsory-blue{
    background-color: #d2d2d2;
}

.gallery-box-sm-12{
    margin-bottom:5px;
}

.youtube-player{
    margin: 12px;
}

.img-title{
    width:100%;
}

.white{
    color: #ffffff;
    font-size: 12px;
}

.blue{
    color: #0b58a2;
}

.gallery-title{
    max-width: 173px;
    max-height: 50px;
    min-height: 100px;
    min-width: 173px;
    font-weight:bold;
    font-size: 12px;
    color: #153a67;
}

.album-img{
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
}

.album-title{
    max-width: 173px;
    max-height: 15px;
    min-height: 15px;
    min-width: 173px;
    font-weight:bold;
    font-size: 12px;
    color: #ffffff !important;
}
